<div
  class="container mt-4 mb-4 form-control"
  style="background-color: rgb(126, 190, 192)"
>
  <div class="row">
    <div class="col-xs-12">
      <p>
        Add new Servers or blueprints!
        <strong>Using > [(ngModel] < two-way Binding</strong>
      </p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName" />
      <label class="mt-2">Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent" />
      <br />

      <div class="justify-content-around">
        <button class="btn btn-primary m-2" (click)="onAddServer()">
          Add Server
        </button>
        <button class="btn btn-primary" (click)="onAddBlueprint()">
          Add Server Blueprint
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{
              element.content
            }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr />

<div
  class="container mt-4 mb-4 form-control"
  style="background-color: rgb(63, 192, 102)"
>
  <div class="text-center">
    <strong>Pipe + Directive</strong>
  </div>

  <p class="mt-2">{{ "Lets go bro" | cut : 9 }}</p>
  <p class="form-control p-2 w-25 text-light" appNgSlice>Default Directive Value</p>
</div>

<hr />

<div class="container mt-4 mb-4 form-control" style="background-color: bisque">
  <div class="container p-3 row">
    <div class="text-center">
      <strong>Reactive Form</strong>
    </div>
    <p></p>
    <div class="col">
      <form [formGroup]="form">
        <div class="form-group">
          <label class="form-label" appNgSlice [defaultColor]="'blue'" [onHover]="'purple'" onLeave="transparent" for="exampleInputEmail1"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            formControlName="email"
          />
          <small  id="emailHelp" class="form-text text-muted" appNgSlice [onHover]="'yellow'" onLeave="rgb(250,201,200)" >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group mt-4">
          <label
            for="exampleInputPassword1"
            appNgSlice
            onLeave="transparent"
            [defaultColor]="'green'"
            [onHover]="'red'"
            >Password</label
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div
          class="form-group form-check"
          appNgSlice
          [defaultColor]="'red'"
          onLeave="transparent"
        >
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
          <input
            type="checkbox"
            class="form-check-input"
            id="exampleCheck1"
            formControlName="checkMeOut"
          />
        </div>
        <button
          class="btn btn-primary"
          (click)="getPersonDetails()"
          [disabled]="!form.valid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<hr />
<div
  class="container p-3 mt-4 mb-4 form-control text-light"
  style="background-color: rgb(116, 65, 107)"
>
  <div class="text-center">
    <strong>Template Form</strong>
  </div>
  <form #formValidate="ngForm" (ngSubmit)="formSubmit(formValidate.value)">
    <label for="Name">Name:</label>
    <input
      id="Name"
      class="form-control"
      type="text"
      name="Name"
      pattern="[A-Z a-z]{3,20}"
      required=""
      ngModel
      (keypress)="validateForm(formValidate.value)"
    />
    <br />
    <label for="Age">Age:</label>
    <input
      type="number"
      id="Age"
      class="form-control"
      required=""
      name="Age"
      ngModel
    />
    <br />
    <button
      class="btn"
      [ngClass]="{
        'btn-success': formValidate.valid,
        'btn-danger': !formValidate.valid
      }"
      [disabled]="!formValidate.valid"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
