<div class="container mt-2">
  <div class="card col">
    <div class="card-header bg-info">
      <h5>Child Component</h5>
    </div>
    <div class="m-2">
      <div class="col">
        <label for="text">Recieved from Parent :</label>

          <input class=" form-control" type=text [value]= input1/>
      </div>
      <form [formGroup]="beteBaap" (ngSubmit)="toParent(beteBaap.value)">
      <div class="mt-2 row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Type a response for Parent" formControlName="jawab"/>
            
          </div>
          <div class="col">
            <button class="btn btn-info">Send Response</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
