<div class="container m-4">
  <div class="card col-12">
    <div class="card-header bg-success">
      <h2>Parent Component</h2>
    </div>
    <div class="m-4">
      <div class="form-group">
        <label for="text">Output from Child </label>
        <input type="text" class="form-control" [value]="response" />
      </div>
      <form class="mt-2" [formGroup]="baapBete" (ngSubmit)="toChild(baapBete.value)">
        <div class="row">
          <div class="col">
            <input class="form-control"  type="text"  placeholder="Type a message for Child" formControlName="sandesh"/>
          </div>
          <div class="col">
            <button class="btn btn-success" >Send Message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <app-child [input1]="message" (output1)="fromChild($event)"> </app-child>
</div>
