<div class="" style="background-color: rgb(71, 70, 69)">
  <div class="container row">
    <div class="col">
      <h3><span class="ms-3 mt-1 badge bg-primary">Learnings</span></h3>
    </div>
    <div class="col-9">
      <ul class="nav nav-fill justify-content-between">
        <li class="">
          <a class="nav-link text-light" routerLink=""><b>Default</b></a>
        </li>
        <li class="">
          <a class="nav-link text-light" routerLink="/Parent"
            ><b>Parent (LCH)</b></a
          >
        </li>
        <li class="">
          <a class="nav-link text-light" routerLink="/form"
            ><b>Forms</b>
          </a>
        </li>
        <li class="">
          <a class="nav-link text-light" routerLink="/test"
            ><b>Test</b></a
          >
        </li>
        <li class="">
          <a class="nav-link text-light" routerLink="/child"
            ><b>Child</b></a
          >
        </li>
        <br />
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
